# TIL
- 간단한 파이썬 문법

In [ ]:
#한 줄 주석 처리
"""
여러 줄 주석 예제 동일한 따옴표(큰따옴표 혹은 작은 따옴표) 세 개와 세 개 사이에는 어떠한 내용, 
몇 줄이 들어가도라도 모두 주석으로 처리됩니다.
"""

print("Hello, World!")

Hello, World!

In [ ]:
num_int=1
print(type(num_int))

<class 'int'>

In [ ]:
num_float=0.2
print(type(num_float))

<class 'float'>

In [ ]:
bool_true = True
print(type(bool_true))

<class 'bool'>

In [ ]:
none_x=None
print(type(none_x))

<class 'NoneType'>

In [ ]:
a=3
b=2
print('a+b=', a+b)
print('a-b=', a-b)
print('a*b=', a*b)
print('a/b=', a/b)
print('a//b=', a//b)
print('a%b=', a%b)
print('a**b', a**b)

a+b= 5
a-b= 1
a*b= 6
a/b= 1.5
a//b= 1
a%b= 1
a**b 9

** 정수형은 정수형으로 반환 **

** 실수형은 실수형으로 반환 **

In [ ]:
c=3.0
d=2.0
print('c+d=', c+d)
print('c-d=', c-d)
print('c*d=', c*d)
print('c/d=', c/d)
print('c//d=', c//d)
print('c%d=', c%d)
print('c**d=', c**d)

c+d= 5.0
c-d= 1.0
c*d= 6.0
c/d= 1.5
c//d= 1.0
c%d= 1.0
c**d= 9.0

> 논리형 연산자와 비교형 연산자

In [ ]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [ ]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [ ]:
print(4>3)
print(4<3)
print(4>=3)
print(4<=3)
print(4>4)
print(4>=4)

True
False
True
False
False
True

In [ ]:
num1 = int(input("첫 번쨰 숫자를 입력하세요.:"))
num2 = int(input("두 번쨰 숫자를 입력하세요.:"))
num3 = int(input("세 번쨰 숫자를 입력하세요.:"))
num4 = int(input("네 번쨰 숫자를 입력하세요.:"))

var1 = num1 >= num2
var2 = num3 < num4

print(var1 and var2)

첫 번쨰 숫자를 입력하세요.:5
두 번쨰 숫자를 입력하세요.:4
세 번쨰 숫자를 입력하세요.:3
네 번쨰 숫자를 입력하세요.:4
True