# Tuple

튜플은 괄호()를 사용해도 되고 하지 않아도 된다. 하지만 괄호() 안에 콤마(,)를 사용하지 않으면 튜플로 인식되지 않는다.

또한, tuple 선언 시 변경이 불가능하고 그 외의 부분은 리스트와 동일하다.

In [1]:
tuple1 = (1)
tuple2 = (1,)
tuple3 = 1, 2, 3

In [2]:
print(tuple1)
print(tuple2)
print(tuple3)

print(type(tuple1))
print(type(tuple2))
print(type(tuple3))

1
(1,)
(1, 2, 3)
<class 'int'>
<class 'tuple'>
<class 'tuple'>

> 그렇다면, 튜플은 왜 필요할까?


튜플은 불변이고 리스트는 가변이기 때문에, 메모리 효율성이 높다.

참고 사이트 -> https://fierycoding.tistory.com/59

# Dictionary

키(key)와 값(value)으로 나뉘고 순서가 존재하지 않는 자료형 (key로 검색 가능)

In [12]:
dic = {'teacher' : 'alice', 'class' : 5, 'student_id' : '15', 'list' : [1, 2, 3]}

print(dic['teacher'])
print(dic['class'])
print(dic['list'])

alice
5
[1, 2, 3]

In [20]:
print(dic.keys())
print(dic.values())
print(dic.items())

dict_keys(['teacher', 'class', 'student_id', 'list'])
dict_values(['alice', 5, '15', [1, 2, 3]])
dict_items([('teacher', 'alice'), ('class', 5), ('student_id', '15'), ('list', [1, 2, 3])])

In [23]:
print(dic.get('teacher'))
print(dic.get('age')) # dic에 없는 key => None으로 반환
print(dic.get('age', 'empty')) #dic에 없는 key를 default 값으로 반환

alice
None
empty

# Set

순서가 없고 중복을 허용하지 않고 set 생성자를 사용하여야 함

In [25]:
s = set()
s = {1, 2, 3}

print(type(s))

<class 'set'>

In [26]:
a = {1, 3, 5}
b = {2, 4, 6}

c = a|b
d = a.union(b)

print(c)
print(d)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [28]:
c = a&b
print(c)

e = {1, 2, 5}
f = {2, 4 ,5}
print(e&f)

g2 = e.intersection(f)
print('intersection : ', g2)

set()
{2, 5}
intersection :  {2, 5}

In [30]:
c1 = e - f
c2 = e.difference(f)

print('e - f : ', c1)
print('e.difference(f) : ', c2)

e - f :  {1}
e.difference(f) :  {1}

In [31]:
d1 = e^f
d2 = e.symmetric_difference(f)

print('e^f : ', d1)
print('e.symmetric_difference(f) : ', d2)

e^f :  {1, 4}
e.symmetric_difference(f) :  {1, 4}

# 조건문

In [32]:
a = -5

if a > 5:
  print('a is bigger than 5')
elif a > 0:
  print('a is bigger than 0 but a is smaller than 5')
else :
  print('a is negative')

a is negative

# 반복문

In [33]:
for dan in range(2, 4):
  for val in range(1, 10):
    print(dan, ' * ', val, ' = ', dan*val)

2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27

In [34]:
a = 'Kaggle'
for x in a:
  print(x)
  if x == 'g':
    break

K
a
g

In [35]:
# enumerate 
# index를 같이 표시하는 함수

alphabets = ['A', 'B', 'C']
for index, value in enumerate(alphabets):
  print(index, value)

0 A
1 B
2 C